node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary / Local files
metadata.json
ss
